/*Step 8
Time for CSS.

Even though your <div> has no text, it's still treated as a box with content. Write a CSS rule that uses the .canvas class selector and set its width to 500 pixels. Here's a CSS rule that sets the width of the class card to 300 pixels:

Example Code
.card {
  width: 300px;
}*/
 /*Step 9
Add the height property with the value 600px to your .canvas rule.*/
/*Step 10
Change the background-color of the canvas to #4d0f00.*/
.canvas {
   width: 500px;
   height: 600px;
   background-color: #4d0f00;
 }
 /*Step 12
Write a new rule using the .frame class selector.

Use the border shorthand declaration to give the .frame element a solid, black border with a width of 50px.*/
/*Step 13
The frame is much too wide.

In .frame, set its width to 500 pixels.*/
.frame {
   border: solid 50px black;
   width: 500px;
}
