/*Step 5
Create a body selector and give it a font-family set to Open Sans with a fallback of sans-serif.

Remember that fonts with spaces in the name must be wrapped in quotes for CSS.*/
/*Step 6
The font is a bit small. Create an html selector and set the font to have a size of 16px.*/
html {
   font-size: 16px;
 }
body {
   font-family: "Open Sans", sans-serif;
}
/*Step 8
Borders can be used to group and prioritize content.

Create a .label selector and give it a border set to 2px solid black.*/
.label {
   border: 2px solid black;
}