/*Step 5
Create a body selector and give it a font-family set to Open Sans with a fallback of sans-serif.

Remember that fonts with spaces in the name must be wrapped in quotes for CSS.*/
/*Step 6
The font is a bit small. Create an html selector and set the font to have a size of 16px.*/
html {
   font-size: 16px;
 }
body {
   font-family: "Open Sans", sans-serif;
}
/*Step 8
Borders can be used to group and prioritize content.

Create a .label selector and give it a border set to 2px solid black.*/
/*Step 9
Good use of white space can bring focus to the important elements of your page, and help guide your user's eyes through your text.

Give your .label selector a width property set to 270px.*/
/*Step 10
Give your .label selector a margin property set to 20px auto, and a padding property set to 0 7px.*/
.label {
   border: 2px solid black;
   width: 270px;
   margin: 20px auto;
   padding: 0 7px;
}